<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.utl.ist.thesis.acceldir"
    android:installLocation="auto"
    android:versionCode="8"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:name="pt.utl.ist.thesis.acceldir.DataCollectorApplication"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="pt.utl.ist.thesis.acceldir.CollectionEntryActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.utl.ist.thesis.acceldir.CollectionActivity"
            android:label="@string/title_activity_collection"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CollectionEntryActivity" />
        </activity>
        <activity
            android:name="pt.utl.ist.thesis.acceldir.AutoGaitCollectionActivity"
            android:label="@string/title_activity_collection"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="CollectionEntryActivity" />
        </activity>
        <activity
            android:name="pt.utl.ist.thesis.acceldir.CalibrationActivity"
            android:label="@string/title_activity_calibration" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.utl.ist.thesis.datacollector.CollectionEntryActivity" />
        </activity>
        <activity
            android:name="pt.utl.ist.thesis.acceldir.AutoGaitDBActivity"
            android:label="@string/title_activity_auto_gait_db" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.utl.ist.thesis.acceldir.CollectionEntryActivity" />
        </activity>
        <activity
            android:name="pt.utl.ist.thesis.acceldir.DBFillingActivity"
            android:label="@string/title_activity_dbfilling" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
		    android:name="com.ipaulpro.afilechooser.FileChooserActivity"
		    android:icon="@drawable/ic_chooser"
		    android:label="Select a File" >
		    <intent-filter>
		        <action android:name="android.intent.action.GET_CONTENT" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.OPENABLE" />
		        <data android:mimeType="*/*" />
		    </intent-filter>
		</activity>
    </application>

</manifest>